.confirmation {
    text-align: center;
    padding: 20px;
}

.dark-theme {
    background-color: var(--color-grey-2);
}

.confirmation h1 {
    color: var(--color-blue);
    font-size: 50px;
    margin-bottom: 20px;
}

.confirmation p {
    font-size: 2rem;
    margin-bottom: 20px;
}

.confirmation span {
    color: var(--color-blue);
    font-size: 2rem;
    margin-bottom: 20px;
}
