#root {
  margin: 0 auto;
  --color-white: white;
  --color-black: black;
  --color-blue: #35B8BE;
  --color-light-blue: #F5FBFC;
  --color-grey: #546285;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
